.form {
  overflow: hidden;
  &__field {
    max-width: 41.5rem;
    width: 100%;
    position: relative;
    margin: 0 0 1rem;
    @include phablet {
      max-width: 100%;
    }
  }
  &__group {
    display: flex;
  }
  &__input {
    height: 5.5rem;
    width: 0;
    border: none;
    font-size: 2.4rem;
    padding: 0;
    position: relative;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    @include phablet {
      height: 4.5rem;
    }
  }
  &__button {
    height: 5.5rem;
    padding: 0 3.5rem;
    background-color: $color-ornate;
    color: $color-white;
    text-transform: uppercase;
    font-weight: 800;
    border: none;
    box-shadow: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 1.4rem;
    letter-spacing: 2.8px;
    &:hover {
      cursor: pointer;
    }
    @include phablet {
      height: 4.5rem;
      padding: 0 2.2rem;
    }
  }
  &__label {
    padding: 0 0 0 2rem;
    position: absolute;
    left: 0;
    top: 35%;
    transform: translateY(-50%);
    z-index: $over-content;
    font-size: 2rem;
    line-height: 2.4rem;
    color: $color-dimmed;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    pointer-events: none;
    @include portrait {
      font-size: 1.4rem;
      line-height: 1.6rem;
    }
  }
  &__error {
    color: #ff4d4d;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    max-height: 0;
    opacity: 0;
  }
}

.form__field__input:invalid {
  border-bottom: 1px solid #ff4d4d;
}

.form__field__input:placeholder-shown {
  border-bottom: 1px solid #65449b;
}

.form__field__input:-ms-input-placeholder {
  border-bottom: 1px solid #65449b;
}

.form__field__input:focus {
  outline: none;
}
