.hero {
  @include gradient;
  @include phablet {
    min-height: 100vh;
    min-height: $real-100vh;
  }
  &__wrapper {
    @include wrapper;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @include phablet {
      flex-direction: column;
      overflow: hidden;
    }
  }
}
