.intro {
  max-width: 64.5rem;
  width: 100%;
  padding: 0 0 0 2rem;
  margin: 16.4rem 0 0 0;
  @include phablet {
    margin-top: 4rem;
    padding-left: 0;
    text-align: center;
  }
  &__logo {
    max-width: 13.2rem;
    width: 100%;
    position: relative;
    margin-bottom: 2.8rem;
    @include phablet {
      margin: 0 auto;
    }
  }
  &__header {
    margin: 0 0 3rem 0;
    position: relative;
    color: $color-white;
    font-weight: 300;
    line-height: 1.21;
    @include portrait {
      font-size: 3.2rem;
      line-height: 3.6rem;
    }
    @include phablet {
      margin-top: 35rem;
      font-size: 2.4rem;
      line-height: 2.8rem;
    }
    @include mobile-lg {
      margin-top: 25rem;
    }
    @include mobile-sm {
      margin-top: 16rem;
    }
  }
  &__desc {
    margin: 0 0 5rem 0;
    position: relative;
    color: $color-light;
    line-height: 1.42;
    letter-spacing: 0.6px;
    @include portrait {
      font-size: 1.8rem;
      line-height: 2.2rem;
    }
    @include phablet {
      font-size: 1.6rem;
      line-height: 2.4rem;
    }
  }
}
