.socials {
  display: flex;
  position: absolute;
  top: 4.5rem;
  right: 4rem;
  z-index: $over-content;
  &__ic {
    width: 3.2rem;
    padding: 0 5px;
    img {
      transition: 0.35s opacity ease-in-out;
    }
    &:nth-of-type(n + 2) {
      margin-left: 1rem;
    }
    &:hover {
      img {
        opacity: 0.7;
      }
    }
  }
  @include phablet {
    display: none;
  }
}
