.socials {
  display: flex;
  position: absolute;
  top: 4rem;
  right: 4rem;
  z-index: $over-content;
  &__ic {
    width: 3.2rem;
    &:nth-of-type(n + 2) {
      margin-left: 1rem;
    }
  }
  @include phablet {
    display: none;
  }
}
