.visual {
  width: 37.4rem;
  //
  height: calc(100vh - 16rem);
  position: relative;
  left: 11.5rem;
  bottom: -6.7rem;
  @include laptop {
    height: auto;
  }
  @include tablet {
    left: 0;
  }
  @include phablet {
    top: 10rem;
    left: 50%;
    transform: translateX(-50%);
  }
  @include mobile-lg {
    width: 30rem;
  }
  @include mobile-sm {
    width: 20rem;
  }
  &__image {
    //
    height: 100%;
    object-fit: contain;
    @include laptop {
      height: auto;
    }
    @include phablet {
      position: absolute;
      clip: rect(0px, auto, 30rem, 0px);
    }
    @include mobile-lg {
      clip: rect(0px, auto, 20rem, 0px);
    }
    @include mobile-sm {
      clip: rect(0px, auto, 12rem, 0px);
    }
  }
}
