* {
  box-sizing: border-box;
}
html {
  font-size: vw(10);
  @include tablet {
    font-size: 10px;
  }
}
body {
  font-family: $base-font;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
}
h1 {
  font-size: 4.8rem;
  line-height: 5.2rem;
}
h2 {
  font-size: 4rem;
  line-height: 4.5rem;
}
h3 {
  font-size: 3rem;
  line-height: 3.54rem;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: $base-font-weight;
}
p {
  font-size: 2.4rem;
  line-height: 1.42rem;
}
img {
  width: 100%;
}
