//colors
$color-dark: #2d3236;
$color-dimmed: #9fa3a7;
$color-white: #ffffff;
$color-gradient-1: #142d4c;
$color-gradient-2: #3f51ad;
$color-gradient-3: #435ab6;
$color-gradient-4: #4f6dd1;
$color-light: rgba(255, 255, 255, 0.87);
$color-ornate: #ff6347;

//layout
$wrapper-width: 120rem;
$wrapper-padding: 4rem;
$vw-base: 1600;

$real-100vh: calc(var(--vh, 1vh) * 100);

//font styles
$base-font: "segoe", sans-serif;
$base-font-weight: 300;
$base-font-size: 2rem;

//z-index
$over-all: 99999999;
$over-content: 100;
$below-content: -100;

//bp
$screen-mobile-sm: 400px;
$screen-mobile-lg: 480px;
$screen-phablet: 576px;
$screen-portrait: 768px;
$screen-tablet: 1024px;
$screen-xxl: 1920px;
